version: "3.8"

services:
  data_loader:
    build: .
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      # - DB_SECRET_ARN=arn:aws:secretsmanager:ap-south-1:251876202726:secret:mri-dev-db-credentials-doP9bL
      - DB_HOST=host.docker.internal
      - DB_PORT=5432
      - DB_NAME=mri_db
      - DB_USER=mri_admin
      - DB_PASSWORD=zlA3kVf9KiciHOkM
      - S3_BUCKET=mri-dev-outputs-251876202726
      - AWS_DEFAULT_REGION=ap-south-1
    volumes:
      - ~/.aws:/root/.aws:ro
    command: python -m src.data_loader
